$blue-100:#3AABDD;
$blue-200:#008FE2;
$blue-300:#2D529F;
$black-100:#34383D;
$black-200:#1D2127;
$black-300:#222529;
$gray-50:#96A9CF;
$gray-100:#95989C;
$gray-200:#848484;
$gray-300:#777777;
$white-100:#FFFFFF;
$white-200:#F7F7F7;

$fs-body:14px;
$fs-section-title:32px;
$fs-section-subtitle:19.2px;
$fs-h1:3rem;
$fs-h2:2.2em;
$fs-h3:19.6px;
$fs-h4:19.6px;
$fs-btn:12.8px;

$fw-body:400;
$fw-h1:700;
$fw-h2:600;
$fw-h4:600;
$fw-section-title:600;
$fw-section-subtitle:400;
$fw-btn:700;

$text-lh:26px;

$padding-inline-default:112px;
$padding-block-default:50px;