$blue-100:#3AABDD;
$blue-200:#008FE2;
$blue-300:#2D529F;
$black-100:#34383D;
$black-200:#1D2127;
$black-300:#222529;
$gray-50:#96A9CF;
$gray-100:#95989C;
$gray-200:#848484;
$gray-300:#777777;
$white-100:#FFFFFF;
$white-200:#F7F7F7;

$fs-body:14px;
$fs-h1:3rem;
$fs-h2:2.2em;
$fs-h3:19.6px;
$fs-h4:17.64px;

$fw-body:400;
$fw-h1:700;
$fw-h2:600;
$fw-h4:600;


$padding-default:56px;