* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.page-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 112px;
  background-color: #F7F7F7;
  height: 52px;
}

.navbar {
  position: relative;
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 112px;
  height: 72px;
}
.navbar > .navbar__logo {
  width: 143px;
  height: 40px;
}
.navbar > .navbar__nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
}
@media (max-width: 1000px) {
  .navbar > .navbar__nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  .navbar > .navbar__nav-list.active {
    display: flex;
    z-index: 9999;
  }
}

.navbar__toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}
.navbar__toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #34383D;
  border-radius: 2px;
}
@media (max-width: 1000px) {
  .navbar__toggle {
    display: flex;
  }
}

.sticky-side-menu {
  position: fixed;
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
  top: 150px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.about-us {
  display: flex;
  padding-inline: 112px;
  padding-block: 50px;
  align-items: center;
  background-color: #FFFFFF;
}

.departments {
  padding-inline: 112px;
  padding-block: 50px;
  background-color: #F7F7F7;
}
.departments__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.5rem;
}
.departments__subtitle {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.125rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1.5rem;
}
.departments .btn {
  margin: 24px auto 24px auto;
}

.departments__cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

@media (max-width: 750px) {
  .departments__cards {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
.doctors {
  padding-block: 50px;
  padding-inline: 112px;
}
.doctors__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.5rem;
}
.doctors-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.doctors-caption__subtitle {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.125rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1.5rem;
}
.doctors .btn-ctrl button {
  background-color: transparent;
  border: none;
  margin-inline: 5px;
  cursor: pointer;
}
.doctors .btn-ctrl button img {
  width: 25px;
}

.resources {
  padding-inline: 112px;
  padding-block: 50px;
  background-color: #F7F7F7;
}
.resources__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.5rem;
}
.resources__subtitle {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.125rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1.5rem;
}
.resources .btn {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.insurance {
  padding-inline: 112px;
  padding-block: 50px;
  background-color: #FFFFFF;
}
.insurance__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.5rem;
}
.insurance__subtitle {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.125rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1.5rem;
}
.insurance .insurance-cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .insurance .insurance-cards {
    flex-wrap: wrap;
  }
  .insurance .insurance-cards .insurance-card {
    width: 33%;
  }
}
.btn {
  padding: 10px 30px;
  border-radius: 0;
  display: inline-block;
  font-weight: 700;
  border-width: 2px;
  background-color: transparent;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s, transform 0.2s;
  cursor: pointer;
  font-size: 12.8px;
  text-transform: uppercase;
}

.btn-sec {
  border-color: rgb(36, 36, 36);
  color: #222529;
}

.btn:hover {
  background-color: transparent;
  color: #FFFFFF;
  background-color: #222529;
}

.page-header__icon-box {
  display: flex;
  padding: 8px 22px 8px 21px;
  gap: 0.2em;
}
.page-header__icon-box:nth-of-type(2) {
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}
.page-header__icon-box:nth-of-type(3) {
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}
.page-header__icon-box .icon-box__img {
  width: 15px;
}
.page-header__icon-box .icon-box__text {
  font-size: 12.6px;
  font-weight: 400;
  color: #95989C;
  font-family: "Poppins", sans-serif;
}

.navbar > .navbar__nav-list > .nav-list__item .nav-list__link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background-color: transparent;
  color: #008FE2;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px;
}
.navbar > .navbar__nav-list > .nav-list__item .nav-list__link:hover {
  color: #FFFFFF;
  background-color: #2D529F;
}

.sticky-side-menu__item {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.sticky-side-menu__item img {
  width: 25px;
}
.sticky-side-menu__item p {
  font-size: 14px;
  font-weight: 700;
  color: #34383D;
  margin-top: 5px;
}

.sticky-side-menu__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #34383D;
  background-color: #F7F7F7;
}

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/medical-slide-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero-section > * {
  padding-left: 112px;
}
.hero-section__hero-title {
  color: #FFFFFF;
  font-weight: 800;
  letter-spacing: -0.05em;
  font-size: 3.4em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.hero-section__hero-subtitle {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 1.3em;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.hero-section__hero-description {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: -0.05em;
  text-decoration: underline;
  margin-bottom: 20px;
}

.banners {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 112px;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.banners__item {
  width: 235px;
  height: 94px;
  padding: 24px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}
.banners__item img {
  width: 42px;
}
.banners__item h4 {
  font-size: 19.6px;
  font-weight: 600;
  color: #FFFFFF;
  margin-top: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
.banners__item1, .banners__item3 {
  background-color: #008FE2;
}
.banners__item2 {
  background-color: #3AABDD;
}
.banners__item4 {
  background-color: #2D529F;
}
.banners__item4 div {
  flex-basis: 1;
  width: -moz-fit-content;
  width: fit-content;
}
.banners__item4 div p {
  font-size: 12px;
  color: #96A9CF;
  font-weight: 400;
}
.banners__item4 div h4 {
  font-size: 19.6px;
}
.banners__item2 img, .banners__item3 img {
  width: 25px;
}
.banners__item2 h4, .banners__item3 h4 {
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
  .banners {
    position: static;
  }
  .banners__item {
    width: calc(50% - 10px);
    height: auto;
    min-height: 80px;
    padding: 15px;
  }
}
@media screen and (max-width: 480px) {
  .banners__item {
    width: 100%;
    margin-bottom: 10px;
  }
}
.about-us {
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-caption {
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-caption__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.2rem;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-caption__subtitle {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.125rem;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-caption__description {
  color: #777777;
  margin-bottom: 1.125rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  max-width: 75%;
  margin-bottom: 44px;
}

@media (max-width: 750px) {
  .about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
}
.departments-card {
  display: flex;
  gap: 30px;
  width: 33%;
  padding: 5px;
}
.departments-card img {
  height: -moz-fit-content;
  height: fit-content;
}
.departments-card__caption {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.departments-card__caption h4 {
  color: #008FE2;
  font-weight: 600;
  font-size: 19.6px;
  text-transform: capitalize;
}
.departments-card__caption p {
  color: #777777;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

@media (max-width: 750px) {
  .departments-card {
    width: 100%;
  }
}
.doctors__cards {
  margin-right: 32px;
  display: flex;
  flex-wrap: wrap;
}
.doctors__cards .doctors__card {
  cursor: pointer;
  width: 25%;
}
.doctors__cards .doctors__card img {
  width: 100%;
}
.doctors__cards .doctors__card figcaption {
  display: flex;
  justify-content: space-around;
}
.doctors__cards .doctors__card figcaption .doctors__card__text {
  padding: 24px;
}
.doctors__cards .doctors__card figcaption .doctors__card__text p {
  color: #777777;
  margin-bottom: 1.125rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}
.doctors__cards .doctors__card figcaption .doctors__card__text h4 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.2rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
}
.doctors__cards .doctors__card figcaption button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.doctors__cards .doctors__card figcaption button img {
  width: 30px;
}
@media (max-width: 992px) {
  .doctors__cards .doctors__card {
    width: 45%;
  }
}
@media (max-width: 650px) {
  .doctors__cards .doctors__card {
    width: 100%;
  }
}

.resources-cards {
  display: flex;
  gap: 24px;
}
.resources-cards .resources-item {
  width: 33%;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.resources-cards .resources-item:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}
.resources-cards .resources-item__img {
  width: 100%;
}
.resources-cards .resources-item div {
  padding-block: 16px;
  padding-inline: 10px;
}
.resources-cards .resources-item div .resources-item__header {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.2rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
}
.resources-cards .resources-item div .resources-item__text {
  color: #777777;
  margin-bottom: 1.125rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  .resources-cards {
    flex-direction: column;
  }
  .resources-cards .resources-item {
    width: 100%;
  }
}
.insurance-card {
  padding: 25px;
  border: 1px solid #e9eff6;
}/*# sourceMappingURL=main.css.map */