.departments-card{
    display: flex;
    gap: 30px;
    width: 33%;
    padding: 5px;
    img{
        height: fit-content;
    }

    &__caption{
        display: flex;
        flex-direction: column;
        gap: 16px;
        h4{
            color: $blue-200;
            font-weight: $fw-h4;
            font-size: $fs-h4;
            text-transform: capitalize;
        }
        p{
            color: $gray-300;
            font-weight: $fw-body;
            font-size: $fs-body;
            line-height: $text-lh;
        }
    }
}





@media (max-width:750px) {
    .departments-card{
        width: 100%;
    }
}