.page-header__icon-box {
  display: flex;
  padding: 8px 22px 8px 21px;
  gap: 0.2em;
  &:nth-of-type(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.06);
  }
  &:nth-of-type(3) {
    border-left: 1px solid rgba(0, 0, 0, 0.06);
  }
  & .icon-box__img {
    width: 15px;
  }
  & .icon-box__text {
    font-size: 12.6px;
    font-weight: $fw-body;
    color: $gray-100;
    font-family: $body-font;
  }
}
